{% extends 'layout.html.twig' %}

{% block title %}{{ translate("Edit item") }}
  {{ item.title }}
{% endblock %}

{% block content %}
  <h1>{{ translate("Edit item") }}
    {{ item.title }}</h1>
  <form method="post">
    <input type="hidden" value="{{ item.id }}" name="id">
    <input type="text" value="{{ item.title }}" name="title">
    {{ getToken()|raw }}
    <input type="submit" value="{{ translate('update') }}">
  </form>
  <br>
  <form action="{{ domain('/item/delete') }}" method="post">
    <input type="hidden" name="item" value="{{ item.id }}">
    {{ getToken()|raw }}
    <input type="submit" value="{{ translate('delete') }}">
  </form>
  <a href="{{ domain('/item/show/' ~ item.id) }}">{{ translate("Back to list") }}</a>
{% endblock %}
