{% extends 'layout.html.twig' %}

{% block title %}{{ translate("Items") }}
{% endblock %}

{% block content %}
  <h1>{{ translate("Items") }}</h1>
  <p>{{ translate("the items pages are just to give an example, you can remove them if you don't need them") }}</p>
  <ul>
    {% for item in items %}
      <li>
        <a href="{{ domain('/item/show/' ~ item.id) }}">{{ item.id }}.
          {{ item.title }}</a>
      </li>
    {% else %}
      <li>{{ translate("Nothing to display") }}</li>
    {% endfor %}
  </ul>
  <a href="{{ domain('/item/add') }}">{{ translate("Add") }}</a>
{% endblock %}
