{% extends 'layout.html.twig' %}

{% block title %}{{ translate("Home page") }}
{% endblock %}

{% block content %}
  <h1>{{ translate("Hello developer!") }}</h1>
  <p>{{ translate("this is the default page of voila 1.8") }}</p>
  <p>{{ translate("to show this, you pass by:") }}</p>
  <ol>
    <li>/public/index.php</li>
    <li>/src/Controller/HomeController.php</li>
    <li>/src/View/layout.html.twig</li>
    <li>/src/View/Home/index.html.twig</li>
    <li>{{ translate("go back in") }}
      /src/Contoller/HomeController.php
      {{ translate("with result of view") }}</li>
    <li>{{ translate("go back in") }}
      /public/index.php
      {{ translate("with result of Controller") }}</li>
    <li>/public/index
      {{ translate("show the result of the HomeController") }}</li>
  </ol>
  <br>
  <p>{{ translate("you can try the app with") }}
    <a href="{{ domain('/item') }}">{{ translate("item") }}</a>
  </p>
{% endblock %}
