<nav>
  <a href="{{ domain('/') }}">{{ translate("Home") }}</a>
  |
  <a href="{{ domain('/item') }}">{{ translate("Item") }}</a>
  |
  <a target="_blank" href="https://mvcvoila.com/docs">{{ translate("Help") }}</a>

  {% if appTranslate %}
    {{ include("Partial/_chooseLanguage.html.twig") }}
  {% endif %}
</nav>
